TODO.md
BLOGS.md

IMG_*

clean_cov_mem.sh
do_coverage.sh
do_track_allocation.sh

create_zip.sh

broken

.ipynb_checkpoints
_compare

WFC.data
*.data

OLD_*
LOG_*
*.xsf
TEMP_*
TEMP*

a.out
*.x

*.swp
*~
*.swo

sandbox_*
*.o

*.so
*.so.*

*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl

Manifest.toml
